doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Babies Registry
  // cdn bootstrap css
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css')

  link(rel='stylesheet' href='/css/babiesRegister.css')
main#main-div.main-div
  #logo-nav-parent.text-bg-success
    #logo-div.text-color
    #welcome.welcome.text-color.text-bg-success
      h4   DayStar day care Kindergarten 
    #navbar
      div(w3-include-html='/views/navbar.pug')
       a.btn.btn-danger.p-2( href='/logout' role='button') logout
  #row1
    div(id='row1-left clearfix')
      a.btn.btn-primary.text-bg-success.p-2(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample')
        | click Here to open canvas
      #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
        .offcanvas-header
          h2#offcanvasExampleLabel.offcanvas-title Administration
          button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
        .offcanvas-body.text-bg-success.p-3
          div
            .card(style='width: 18rem;')
              img.card-img-top(src='/z-project/images/lady-teacher.jpeg' alt='...')
              .card-body
                h5.card-title Head Teacher
                p.card-text Ms. Ahumuza Diana
          .dropdown.mt-3 
            button.btn.btn-light.dropdown-toggle(type='button' data-bs-toggle='dropdown')
              | Manage Babies
            ul.dropdown-menu
              li
                a.dropdown-item.text-bg-success(href='/pages/babies/babies.html') Register new baby
              li
                a.dropdown-item.text-bg-success(href='#') view all babies
              li
                a.dropdown-item.text-bg-success(href='#') Update baby details 
              li
                a.dropdown-item.text-bg-success(href='#') Record baby departure.
          .dropdown.mt-3 
            button.btn.btn-light.dropdown-toggle(type='button' data-bs-toggle='dropdown')
              | Manage Sitters
            ul.dropdown-menu
              li
                a.dropdown-item.text-bg-success(href='/pages/sitters/sitters.html') View all sitters
              li
                a.dropdown-item.text-bg-success(href='#') Add new sitter
              li
                a.dropdown-item.text-bg-success(href='#') Edit sitter details
              li
                a.dropdown-item.text-bg-success(href='#') Remove sitter details
          .dropdown.mt-3
            button.btn.btn-light.dropdown-toggle(type='button' data-bs-toggle='dropdown')
              | Manage Payments
            ul.dropdown-menu
              li
                a.dropdown-item.text-bg-success(href='/pages/payments/payments.html') View payment history
              li
                a.dropdown-item.text-bg-success(href='#') Make payment
              li
                a.dropdown-item.text-bg-success(href='#') Generate monthly invoices
          .dropdown.mt-3
            button.btn.btn-light.dropdown-toggle(type='button' data-bs-toggle='dropdown')
              | Manage Procurement
            ul.dropdown-menu
              li
                a.dropdown-item.text-bg-success(href='/pages/procurement/procurement.html') view procurement itemss
              li
                a.dropdown-item.text-bg-success(href='#') Add new procurement item
              li
                a.dropdown-item.text-bg-success(href='#') Update procurement item
              li
                a.dropdown-item.text-bg-success(href='#') Remove procurement item
          .dropdown.mt-3
            button.btn.btn-light.dropdown-toggle(type='button' data-bs-toggle='dropdown')
              | Reports &amp; Analytics
            ul.dropdown-menu
              li
                a.dropdown-item.text-bg-success(href='/pages/reports-analytics/reports-analytics.html') Generate daily report
              li
                a.dropdown-item.text-bg-success(href='#') Generate monthly report 
              li
                a.dropdown-item.text-bg-success(href='#') Generate custom reports
    #row1-right
      #row1-right-bottom
        // content
        .container
          h1 Child Registry
          form#registrationForm(action= '/babiesUpdate?id='+baby._id  method='POST')
            .form-group
              label(for='name') Name:
              input#name(type='text' name='name' value= baby.name)
            
            .form-group
              label(for='age') Age:
              input#age(type='number' name='age' value=baby.age)
            .form-group
              label(for='gender') Gender:
              select#gender(name='gender')
                option(value='male' selected= baby.gender=== 'male') Male
                option(value='female' selected= baby.gender=== 'female') Female
                option(value='other' selected= baby.gender=== 'other') Other
            
            .form-group
              label(for='contact') Contact:
              input#contact(type='text' name='contact' value=baby.contact)
            .form-group
              label(for='address') Address:
              input#address(type='text' name='address' value=baby.address)
            .form-group
              label(for='periodOfStay') Period of Stay:
              input#periodOfStay(type='text' name='periodOfStay' value=baby.periodOfStay)
              .form-group
                label(for='childBroughtBy') Child Brought by:
                input#childBroughtBy(type='text' name='childBroughtBy' value=baby.childBroughtBy)
              .form-group
                label(for='arrivalTime') Arrival Time:
                input#arrivalTime(type='time' name='arrivalTime' value=baby.arrivalTime)
              .form-group
                label(for='paidFee')  Paid Fee(UGX):
                input#paidFee(type='text' name='paidFee' value=baby.paidFee)
              .form-group
                label(for='childPickedBy') Child Picked by:
                input#childPickedBy(type='text' name='childPickedBy' value=baby.childPickedBy)
              .form-group
                label(for='departureTime') Departure Time:
                input#departureTime(type='time' name='departureTime' value=baby.departureTime)
              .form-group
                label(for='childNumber') Child Number:
                input#childNumber(type='text' name='childNumber' value=baby.childNumber)
              input.text-bg-success(type='submit' value='Update')
  #footer
    .fid_box1
      h3 Find us
      ul.location_icon
        li
          a(href='#')
            i.fa.fa-map-marker(aria-hidden='true')
          br
          |  kabalagala
        li
          a(href='#')
            i.fa.fa-phone(aria-hidden='true')
          br
          |                      (+71) 1234567890
          br
          |  (+71) 1234567890
        li
          a(href='#')
            i.fa.fa-envelope(aria-hidden='true')
          br
          |  demo@gmail.com
    .copyright
      .container1
        .row
          .col-md-
            p &copy; 2024 All Rights Reserved. DayStar Daycare &amp; kindergarten 
// cdn bootstrap js
script(src='https://kit.fontawesome.com/01943d9418.js' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js')
script(src='/includes-navbar/navbar.js')
script(src='')
